name: render

on:
  push:

jobs:
  render:
    runs-on: ubuntu-latest
    container: ojford/texlive

    steps:
      - run: apk add git openssh

      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/cache@v5
        with:
          path: /usr/local/texlive/texmf-var/luatex-cache
          key: luatex-cache

      - name: Make CV
        run: |
          apk add make
          wget -O source-sans.zip 'https://github.com/adobe-fonts/source-sans/releases/download/3.052R/TTF-source-sans-3.052R.zip'
          export OSFONTDIR=/usr/share/texmf-dist/fonts/truetype/source-sans
          mkdir -p "$OSFONTDIR"
          unzip -j source-sans.zip 'TTF/*.ttf' -d "$OSFONTDIR"
          luaotfload-tool --update
          make
          mkdir -p /artefacts
          mv cv.log cv.pdf /artefacts

      - uses: actions/upload-artifact@v6.0.0
        with:
          path: /artefacts
        if: ${{ always() }}

  release:
    runs-on: ubuntu-latest
    needs: render
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v6

      - id: release-metadata
        run:
          echo "name=$(date +'%Y-%m-%d')" >>"$GITHUB_OUTPUT"

      - uses: actions/create-release@v1
        id: release
        with:
          tag_name: ${{ steps.release-metadata.outputs.name }}
          release_name: ${{ steps.release-metadata.outputs.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v7

      - uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: cv.pdf
          asset_name: ojford-cv-${{ steps.release-metadata.outputs.name }}.pdf
          asset_content_type: application/pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
